/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './components/tabset';
@import './components/login-page';
@import './components/carousel';
@import './components/_sliders';
@import './components/icon-resize';
* {
  font-family: $helveticaRegular;
}

#chat-widget-container {
  right: 15px !important;
}
@media (max-width: 991px) {
  #chat-widget-container {
    right: 5px !important;
  }
}
