.btn {
  &.disabled {
    cursor: unset;
    background: #d9d9d9 !important;
    color: #fff;
    border: 0;
    &:hover {
      background: #d9d9d9 !important;
      color: #fff;
      border: 0;
    }
  }
  &:disabled,
  &.disabled {
    cursor: not-allowed !important;
  }
  &:disabled,
  &.disabled {
    // opacity: 0.45 !important;
    opacity: 1 !important;
  }
}

// .btn-success {
//   &:hover {
//     background-color: #0dad9e !important;
//     border-color: #0dad9e !important;
//     color: #fff;
//   }
// }
