.login-page {
  // position: fixed;
  // overflow: hidden;
  // width: 100%;
  // background-color: $color-primary;

  // background: url(/assets/img/login/background.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;

  .login-bg {
    position: relative;
    bottom: 0;
    height: 100%;
  }

  .login-page-wrapper {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;

    .page-container {
      width: 450px;
      background-color: $color-white;
      padding: 50px;
      display: flex;
      align-items: center;

      .page-form {
        position: relative;
        padding-top: 50px;
        height: 100%;
        width: 100%;

        .svg-icon {
          svg {
            position: relative;
            top: 3px;
          }
          &.check {
            svg {
              top: 7px;
              margin-right: 10px;
            }
          }
        }

        .form-group {
          label,
          input {
            font-size: 12px;
          }
        }

        .main-logo {
          // margin-bottom: 25px;
        }

        .login-form {
          margin-top: 25px;
        }

        .checkbox label {
          font-size: 12px;
          color: $color-master;
        }

        .text-link {
          cursor: pointer;
          color: $color-primary;
          font-size: 12px;
          &:hover {
            color: $color-primary-light;
          }
        }

        .btn {
          width: 165px;
          padding: 12px 0;
          font-size: 14px;
          font-weight: bold;
        }

        .signup {
          font-size: 12px;
          color: $color-master;
          margin-top: 0;
          margin-bottom: 0;
          position: absolute;
          bottom: 0;

          a {
            cursor: pointer;
            color: $color-success;
            text-decoration: underline;
            &:hover {
              color: $color-success-light;
            }
          }
        }

        .forgot-pass {
          &.sent {
            .desc {
              margin-bottom: 35px;
            }
            .back .btn {
              width: 120px;
            }
          }
          p {
            &.title {
              font-family: $helveticaBold;
              font-weight: bold;
              font-size: 22px;
              color: #2c2c2c;
              margin-top: 15px;
              margin-bottom: 20px;
            }
            &.desc {
              font-family: $fontRoboto;
              font-size: 14px;
              color: #626262;
              line-height: 19px;
              margin-bottom: 25px;
              a {
                cursor: pointer;
                font-weight: bold;
              }
            }
          }
          .buttons {
            margin-top: 30px;
          }
          .back {
            padding: 0;
            .btn {
              opacity: 0.5;
              font-size: 14px;
              color: $color-primary;
              border: 0;
              width: 70px;
              font-weight: 500;
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      .page-container {
        width: 100%;
        padding: 20px;

        .checkbox label {
          margin: 0;
        }

        .page-form {
          height: 100%;
          padding-top: 20%;
          .signup {
            margin-top: 0;
            position: absolute;
            bottom: 0;
          }

          .forgot-pass {
            .back {
              padding: 0 15px;
            }
          }
        }
      }
    }
  }
}
